* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  animation: border-animation 2s linear infinite;

}

@keyframes border-animation {
  0% {
    border-bottom: 1px solid #ccc;
  }
  50% {
    border-bottom: 1px dotted #ccc;
  }
  100% {
    border-bottom: 1px solid #ccc;
  }
}


.logo img {
  height: 80px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 0 10px;
}

li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease-in;
  font-size: 1.9rem;
}

nav a:hover {
  color: #ff9900;
  border-bottom: 1px solid #ff9900;
}

nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  
}


/* ANIMAÇÃO e BG  */


.titulo {
  text-align: center;
  padding: 18rem;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('/images/retro-game-bg.jpg');
  animation: moveBackground 88s linear infinite;
  text-shadow: #333;
  height: 100vh;

}

.titulo h1 {
  font-size: 5rem;
  color: #f8f8f8;
  margin-top: 80px;
}

.titulo p {
  color: #f8f8f8;
  font-size: 2rem;
  margin-top: 20px;
}


span {
  color: #F29D35;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -2000px 0;
  }
}

#logo-animation {
  position: relative;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

#logo-animation img {
  animation: pulse 1s ease-in-out 3;
}



/* SEÇÃO SOBRE NOS  */



h2 {
  text-align: center;
  margin: 60px;
  font-size: 5rem;
  text-shadow: #333;
  position: relative;
  display: inline-block;

}

h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #F29D35;
  animation: linha-animacao 30s forwards;
}

@keyframes linha-animacao {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}


.sobre-nos {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 20px;
  margin: 20px;
}


.sobre-nos img {
  margin-right: 20px;
  max-width: 75%;
  border-radius: 10%;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


}


.sobre-nos p {
  text-align: space-around;
  text-indent: 10px;
  font-size: 2.2rem;
  padding: 3rem;
}

/* SEÇÃO NOSSO TIME */

.nosso-time {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 20px;
  margin: 20px;
}

.membro {
  margin: 20px;
  max-width: 300px;
  text-align: center;
}

.membro img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;

}

.nosso-time img:hover {
  transform: scale(1.1);
  border: 2px solid #F29D35;

}

.membro h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.membro p {
  margin-top: 10px;
  font-size: 2rem;
  line-height: 1.5;
}




/* SEÇÃO PRODUTOS E SERVIÇOS  */


#produtos-servicos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 20px;
  margin: 20px;


}

.card {
  flex-direction: row;
  justify-content: space-between; 
  width: 250PX;
  margin-bottom: 30px;
  padding: 20px;
  margin: 20px;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  object-fit: cover;
  
}

.card h3 {
  color: #F29D35;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  color: black;
  font-size: 1.8rem;
  margin-bottom: 20px;
  padding: 5px;
  
}

.card button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #F29D35;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.card button:hover {
  background-color:#F2DA5E ;
}

.card img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}


/*  BOTÃO DE VOLTA AO TOPO  */

#voltarTopoBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

#voltarTopoBtn:hover {
  background-color: #555;
}


/* SEÇÃO DO MODAL */




/* Estilo do modal */
.modal {
display: none; /* Esconder o modal por padrão */
position: fixed; /* Posição fixa para o modal */
z-index: 1; /* Z-index para garantir que o modal apareça na frente de tudo */
left: 0;
top: 0;
width: 100%; /* Largura total */
height: 100%; /* Altura total */
overflow: auto; /* Ativar rolagem */
background-color: rgb(0,0,0); /* Fallback de cor preta */
background-color: rgba(0,0,0,0.4); /* Cor de fundo transparente */
}

/* Estilo do conteúdo do modal */
.modal-content {
background-color: #fefefe;
margin: 10% auto; /* Centralizar na tela */
padding: 20px;
border: 1px solid #888;
width: 80%;
}

/* Estilo do botão de fechar */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}



/* REPONSIVE */

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .titulo {
    padding: 10rem 4rem;
  }

  .titulo h1 {
    font-size: 3.4rem;
    margin-top: 40px;
    
  }
  
  .titulo p {
    font-size: 1.9rem;
    margin-top: 10px;
  }

    /* Desabilitar a fixação do nav na tela */
    nav.fixed {
      position: relative;
    }

    
  }
  



  

@media screen and (max-width: 600px) {

  nav {
    flex-direction: column;
    align-items: stretch;
  }


  .logo {
    text-align: center;
  }

  ul {
    margin-top: 20px;
    justify-content: space-between;
  }

  li {
    margin: 0;
    flex-basis: 30%;
    text-align: center;
  }

  .titulo h1,
  h2 {
    font-size: 2.8rem;
  }  
}



@media only screen and (max-width: 768px) {
  .sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sobre-nos img {
    order: 2;
    margin-top: 20px;
    width: 100%;
  }

  .sobre-nos p {
    text-align: center;
    font-size: 2.2rem;
    padding: 1.8rem;
  }
}

@media (max-width: 768px) {
  .produtos-servicos {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }
}





 
  



